@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

* {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    display: block;
    position: fixed;
    overflow: scroll;
}

h1,
h2,
h3,
h4 {
    font-family: "Titan One";
    font-size: 2.75rem;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.1;
    color: white;
    margin-top: -18px;
    margin-left: 40px;
    text-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
    text-align: center
}

h3,
h4 {
    font-size: 1.75rem;
    text-transform: uppercase;
    line-height: 1;
    color: rgb(254, 213, 48);
    margin-top: 0px;
    text-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
}

.outler-content {
    display: block;
    position: relative;
    z-index: 1000;
    height: 100%;
}

.inner-content {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.4375rem;
    font-weight: 300;
    width: 100%;
    height: 100%;
    border-radius: 5%;
    text-transform: none;
    line-height: 1.3;
    color: black;
    text-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
    resize: none;
    min-height: 700px;
    overflow-y: scroll;
    padding: 15px;
    background-color: white;
    padding: 2px;
    overflow-y: scroll;
    height: 100%;   
}

.inner-content:required {
    box-shadow: 0 0 5px rgb(0, 0, 0);
    -webkit-box-shadow: 0 0 5px rgb(0, 0, 0);
    -moz-box-shadow: 0 0 5px rgb(0, 0, 0);
    border: solid 0px transparent;
    
}

.inner-content h1,h2,h3,h4 {
    color: rgb(255, 204, 2);
    -webkit-text-stroke: 0.2px black;
    text-align: center
}

.inner-content p,.inner-content h3{
    text-align: left;
    margin:  30px 250px 30px 250px;
    text-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
}


.bg {
    background-image: url("../assets/homepage/pattern-background.jpg");
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: absolute;
    position: fixed;
    top: 0;
    left: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: scroll;
}


.container {
    display: flex;
}

.content {
    flex: 1;
    padding: 50px;
}


.image {
    flex: 1;
    position: center;
    size: cover;
}

.object {
    animation: MoveUpDown 4s linear infinite;
    position: fixed;
    bottom: 0;
    margin-bottom: 0;
    right: 0;
    z-index: 50000;
    width: 300px;
}

.top-position{
    animation: MoveUpDownTop 4s linear infinite;
    top: 0;
    bottom: 1;
    right: 1;
    left: 0;
}

@keyframes MoveUpDownTop{
    0%, 100% {
        top: 50px;
    }
    50% {
        top: 100px;
    }
}

@keyframes MoveUpDown {
    0%, 100% {
        bottom: 50px;
    }
    50% {
        bottom: 100px;
    }
}



@media(max-width: 1475px){
    .inner-content {
        display: block;
        position: relative;
        width: 100%;
        margin-left: 0px;
    }

    .object {
        z-index: 5000;
        margin-bottom: 0;
        width: 300px;
    }




}