@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot);
    /* For IE6-8 */
    src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
        url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
        url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

html {
    overflow: hidden;
}
.full {
    display: block;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.material-symbols-outlined {
    margin-top: 5px;
}


* {
    box-sizing: border-box;
}



body,
html {
    height: 100%;
    display: block;
    position: fixed;
    overflow: scroll;
}

h1,
h2,
h3,
h4 {
    font-family: "Titan One";
    font-size: 2.75rem;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.1;
    color: white;
    margin-top: -18px;
    margin-left: 40px;
    text-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
    text-align: center
}

h3,
h4 {
    font-size: 1.75rem;
    text-transform: uppercase;
    line-height: 1;
    color: rgb(254, 213, 48);
    margin-top: 0px;
    text-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
}

.outler-content {
    display: block;
    position: relative;
    z-index: 1000;
    height: 100%;
}

.inner-content {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.4375rem;
    font-weight: 300;
    width: 100%;
    height: 100%;
    border-radius: 5%;
    text-transform: none;
    line-height: 1.3;
    color: black;
    text-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
    resize: none;
    min-height: 700px;
    overflow-y: scroll;
    padding: 15px;
    background-color: white;
    padding: 2px;
    overflow-y: scroll;
    height: 100%;
}

.inner-content:required {
    box-shadow: 0 0 5px rgb(0, 0, 0);
    -webkit-box-shadow: 0 0 5px rgb(0, 0, 0);
    -moz-box-shadow: 0 0 5px rgb(0, 0, 0);
    border: solid 0px transparent;

}

.inner-content h1,
h2,
h3,
h4 {
    color: rgb(255, 204, 2);
    -webkit-text-stroke: 0.2px black;
    text-align: center
}

.inner-content p,
.inner-content h3 {
    text-align: left;
    margin: 30px 250px 30px 250px;
    text-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
}


.bg-home {
    background-image: url("../src/assets/homepage/pattern-background.jpg");
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: absolute;
    position: fixed;
    top: 0;
    left: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: scroll;
}

.bg-game {
    background-image: url("../src/assets/game/pattern-background.webp");
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: absolute; /* Switch to absolute in interfaceController.js onload */
    position: fixed;
    top: 0;
    left: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: scroll;
}



.container {
    display: flex;
}

.content {
    flex: 1;
    padding: 50px;
}


.image {
    flex: 1;
    position: center;
    size: cover;
}

.object {
    animation: MoveUpDown 4s linear infinite;
    position: fixed;
    bottom: 0;
    margin-bottom: 0;
    right: 0;
    z-index: 50000;
    width: 300px;
}

.object-fixed {
    animation: none !important;
}

.top-position {
    animation: MoveUpDownTop 4s linear infinite;
    top: 0;
    bottom: 1;
    right: 1;
    left: 0;
}

.game {
    display: table;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    box-shadow: 0 0 5px rgb(0, 0, 0);
    -webkit-box-shadow: 0 0 5px rgb(0, 0, 0);
    -moz-box-shadow: 0 0 5px rgb(0, 0, 0);
    border: solid 0px transparent;
    border-radius: 5px;
    z-index: 1000000;
}

.text { 
    background-color: transparent; 
    position: absolute;
    left: 100px;
    top: 10px;
  }

.btn {
    background-color: rgb(254, 213, 48);
    display: inline-block;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
    z-index: 50000;
    padding: 5px 30px 5px 30px;
    color: white;
    font-family: "Titan One";
    text-shadow: rgba(0, 0, 0, 0.25) 0px 2px px;
    box-shadow: rgba(0, 0, 0, 0.25) 2px 2px 2px;
    -webkit-text-stroke: 0.5px black;
    font-size: 20px;
    border-radius: 10px;
    border-color: rgb(0, 0, 0);
}

.btn-text {
    margin-bottom: 30px;
}

.btn-shadow {
    margin: 40px 5px 40px 5px;

}

.btn:hover {
    -webkit-text-stroke: 0.4px black;
    text-shadow: rgba(0, 0, 0, 0.25) 0px 2px 2px;
}

.btn:active {
    background-color: rgb(255, 204, 2)
}

.outler-text{
    z-index: 50000;
    font-family: "Titan One";
    color: white;
    display: inline-block;
    position: relative;
    margin-left: 10px;
    
}

.content-image {
    max-width: 800px;
    max-height: 600px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: center;
}

#arrow-back, #arrow-forward{
    position: fixed;
    display: absolute;
    z-index: 5000000;
    width: 50px;
    height: 50px;
    background-color: rgb(254, 213, 48);
    color: black;
    font-family: "Titan One";
    text-shadow: rgba(0, 0, 0, 0.25) 0px 2px px;
    box-shadow: rgba(0, 0, 0, 0.25) 2px 2px 2px;
    -webkit-text-stroke: 0.5px black;
    font-size: 20px;
    border-radius: 10px;
    border-color: rgb(0, 0, 0);
}

#arrow-forward {
    top: 45%;
    right: 30%;
}

#arrow-back {
    top: 45%;
    left: 30%;
}

#play-button{
    position: fixed;
    z-index: 5000000;
    width: 140px !important;
    height: 50px;
    background-color: rgb(254, 213, 48);
    font-family: "Titan One";
    text-shadow: rgba(0, 0, 0, 0.25) 0px 2px px;
    box-shadow: rgba(0, 0, 0, 0.25) 2px 2px 2px;
    -webkit-text-stroke: 0.5px black;
    font-size: 20px;
    border-radius: 10px;
    border-color: rgb(0, 0, 0);
    color: white !important;
    bottom: 10%;
    left: 46%;
}

canvas {
    width: 1000px;
    height: 700px;
}


.text {
    z-index: 500000000;
}


#rotation-element {
    display: 'none';
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: ;
}




@keyframes MoveUpDownTop {

    0%,
    100% {
        top: 50px;
    }

    50% {
        top: 100px;
    }
}

@keyframes MoveUpDown {

    0%,
    100% {
        bottom: 50px;
    }

    50% {
        bottom: 100px;
    }
}



@media(max-width: 1475px) {
    .inner-content {
        display: block;
        position: relative;
        width: 100%;
        margin-left: 0px;
    }

    .object {
        z-index: 5000;
        margin-bottom: 0;
        width: 300px;
        display: none;
    }

    .top-position {
        display: none;
    }
}

@media(min-width: 1000px){
    .btn-audio{
        margin-left: 350px;
    }
    
}

@media(max-width: 1000px){
    canvas {
        width: 100%;
        height: 100%;
    }

    #arrow-back, 
    #arrow-forward {
        top: 30%;
    }

    #arrow-back {
        left: 20%;
    }

    #arrow-forward {
        right: 20%;
    }

    
}

@media(max-height: 600px){
    canvas {
        height: 455px;
        margin-top: 0 !important;
        position: absolute !important;
        display: fixed !important;
        top: 0 !important;
    }

    .outler-text{
        color: black;
    }

    #play-button {
        left: 425px;
        bottom: 20px;
    }

}
